@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;800&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --green-900: rgb(4, 12, 7);
  --green-700: rgb(10, 31, 17);
  --green-500: rgb(19, 70, 36);
  --green-100: rgb(170, 200, 180);
  --green-50: rgb(220, 235, 225);

  --brown-900: rgb(50, 21, 3);
  --brown-700: rgb(90, 38, 6);
  --brown-500: rgb(135, 57, 9);
  --brown-100: rgb(210, 170, 140);
  --brown-50: rgb(235, 215, 195);


  --background: #ffffff;
  --foreground: var(--green-700);
  --border-radius: 1rem;
  --margin-right: 10px;
  --padding: 5px;
  --border-outline: 1px solid var(--foreground);
  --primary-brown: rgb(135, 57, 9, 1);
  --secondary-brown: rgb(135, 57, 9, 0.5);
  --primary-green: var(--green-100);
  --secondary-green: var(--green-50);
  --primary-grey: rgba(160,159,159,1);
  --secondary-grey: rgba(160,159,159,0.5);
  --margin-left: 10px;
}

body {
  color: var(--brown-900);
  background: var(--background);
  padding: 2.5% 5%; 
}

@layer base {
  h1 {
    @apply font-bricolage-grotesque font-bold;
    font-size: 48px;
    color: var(--green-500);
  }
  h2 {
    @apply font-bricolage-grotesque font-bold;
    font-size: 30px;
    /* color: var(--green-500); */
  }
  h3 {
    @apply font-bricolage-grotesque font-bold;
    font-size: 18px;
  }
  h4 {
    @apply font-bricolage-grotesque font-bold;
    font-size: 16px;
    color: var(--green-500);
  }

  p, li, button, form, input {
    @apply font-montserrat;
    font-weight: 300;
    font-size: 16px;
  }

  button {
    margin-right: var(--margin-right);
  }

  main {
    padding: 20px 0 10px 0;
  }

  input {
    @apply font-montserrat;
    border: var(--border-outline);
    border-radius: var(--border-radius);
    /* margin-left: var(--margin-left); */
    padding: var(--padding);
  }
  
  input:focus {
    border: 2px solid var(--green-500);
    outline: none;
  }

  input:focus-visible  {
    border: 2px solid var(--green-500);
    outline: none;
  }

  select {
    margin-left: var(--margin-left);
    border: var(--border-outline);
    border-radius: var(--border-radius); 
    padding: var(--padding);
  }

  select:focus {
    border: 2px solid var(--green-500);
    outline: none;
  }

  select:focus-visible  {
    border: 2px solid var(--green-500);
    outline: none;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-layout {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
}

.page-padding {
  padding: 2%; /* Add 2% padding to all page components */
}

.submit {
  padding: 3px 7px;
  border-radius: var(--border-radius);
  background-color: var(--brown-50);
  color: var(--brown-700);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(93, 77, 50, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.submit:hover {
  background-color: var(--brown-500);
  color: var(--brown-50);
  transform: translateY(1px);
}

.submit:active {
  background-color: var(--brown-500);
  color: var(--brown-50);
  transform: translateY(-1px);
}

.menu-item {
  padding: 2px 5px 2px 0px;
  margin-right: 2px;
  color: var(--foreground);
  transition: all 0.2s ease-in-out;
}

.menu-item.selected {
  border-bottom: 2px solid var(--brown-100);
  font-weight: 900;
}

.badge-item { 
  padding: 3px 7px;
  margin: 5px;
  border-radius: var(--border-radius);
  border: 1px solid var(--foreground);
}

.badge-item.selected {
  background-color: var(--foreground);
  color: var(--background);
}

.badge-item.unselected {
  background-color: var(--secondary-green);
}

.spinner {
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-top: 2px solid var(--background);
  border-radius: var(--border-radius);
  margin: var(--padding);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
 
.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-grey);
  transition: .2s;
  border-radius: 30px;
}
 
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: var(--primary-grey);
  transition: .4s;
}
 
input:checked + .slider::before {
  background-color: var(--green-500);
}
 
input:checked + .slider {
  background-color: var(--secondary-green);
}
 
input:focus + .slider {
  box-shadow: 0 0 1px var(--green-500);
}
 
input:checked + .slider:before {
  transform: translateX(1.9em);
}

.card {
  margin-top: 1rem; /* Equivalent to mt-4 */
  padding: 0.5rem; /* Equivalent to p-2 */
  border-radius: var(--border-radius);
  border: var(--border-outline);
}

.card-selected {
  border: 2px solid var(--brown-100);
}

.aligned {
  display: flex;
  gap: 1rem; 
}

.color-box {
  width: 3rem; 
  height: 2rem; 
  border-width: 1px; 
  border-radius: var(--border-radius)
}

.ring-highlight {
  box-shadow: 0 0 0 2px var(--secondary-grey)
}
